<button onclick="window.open('https://github.com/yasmany1111/poc-d3')">
  GITHUB
</button>
<div
  (mousewheel)="onEventMapComponentScroll($event)"
  class="main-container"
></div>

<div>
  <button id="debug1">Debug 1</button>
</div>

<div>{{ debugString }}</div>

<div style="font-size: 20x; font-weight: bolder; margin-top: 20px;">
  Chart features: <br />
  <p>
    This chart addapts to different time periods (hard coded now, but ready once
    different data is loaded)
  </p>
  <p>
    TODO: I have a way of aggregating articles in my mind, by parsing the data,
    and if the same time period for the same topic is occupied, aggregate them
    and increase its size, not implemented yet, but I've the logic quite
    structured
  </p>
  <p>
    The more time periods (ej days, months) the closer the circles will be to
    each other, WE could calculate distance (before render, of course), and when
    a circle is overlapping (will overlap, better said), merge those two
    datasets. (and the NEW resulting circle should be positioned in an average X
    of the two old ones, ej (c1.x + c2.x) /2)
  </p>
</div>
